* {
  background-color: #2b2b2f;
  color: ivory;
  margin: 0;
  padding: 0;
  font-family: Gruppo;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(122, 22, 11);
  font-size: 30px;
  flex-wrap: wrap;
}

#high-score,
#timer,
#score {
  background-color: rgb(122, 22, 11);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

#startbtn,
#modal-show {
  background-color: ivory;
  border: none;
  color: #2b2b2f;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  font-weight: 900;
  box-shadow: 0 0 8px ivory;
}

h1 {
  font-size: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section p {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startbtn {
  font-size: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -10px;
}

h3 {
  font-size: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

#answer button {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -40px;
  min-width: 400px;
  border-radius: 20px;
  background-color: lavender;
  color: black;
  font-weight: 900;
  box-shadow: 0 0 10px ivory;
}

#score-page {
  font-size: 30px;
}

#submitbtn,
#play-again-btn {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -40px;
  border-radius: 20px;
  background-color: ivory;
  color: #2b2b2f;
  border: solid 1px #2b2b2f;
  box-shadow: 0 0 5px ivory;
  font-weight: 900;
}

input {
  padding: 20px;
  border-radius: 20px;
  background-color: ivory;
  color: black;
  font-weight: 900;
  font-size: 20px;
}

#submitbtn {
  display: inline;
  margin-top: 20px;
}

h4 {
  padding-bottom: 20px;
}

#score-list span {
  font-size: 40px;
}

#score-list li {
  font-size: 30px;
}
#modal {
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#close-modal {
  font-size: 40px;
  color: ivory;
  background-color: #2b2b2f;
  border-radius: 5px;
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  align-self: center;
  border: none;
  cursor: grab;
  margin-left: 40px;
}
#modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

#score-list {
  width: 80%;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px ivory;
}

li {
  padding-top: 40px;
}

#resetbtn {
  font-size: 20px;
  padding: 20px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  right: -20px;
  border-radius: 20px;
  background-color: ivory;
  color: #2b2b2f;
  border: solid 1px #2b2b2f;
  box-shadow: 0 0 5px ivory;
  font-weight: 900;
}
.hidden {
  display: none;
}
